#navigation {
    position: fixed;
    top: 0;
    right: -450px;

    width: 450px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    padding: 60px 43px 100px;
    transition: all 0.4s;
}

#navigation.active {
    right: 0;
}

#navigation strong {
    font-size: 32px;
}

#navigation div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0px;
}

#navigation div button {
    display: flex;
    border: 0;
    background: transparent;
    width: 140px;
}

#navigation div button img {
    filter: grayscale(1);
    opacity: 0.5;
    width: 100%;
    transition: all 0.4s;
    padding: 0px 0px 0px 5px;
    display: inline;
}

#navigation div button:hover {
    cursor: pointer;
}

#navigation div button:hover img {
    filter: grayscale(0);
    opacity: 1;
    transform: translateY(-10px);
}